/* Global Styles */
:root {
  --primary-font: "Quicksand", sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 400;
  background-color: antiquewhite;
}

/* Navbar Styles */
.navbar {
  background: #8a6522;
  height: 100px;
  color: antiquewhite;
  font-size: 25px;
}

.logo {
  height: 100%;
  text-decoration: none;
  position: absolute;
}

.nav-link {
  color: antiquewhite;
}

.navbar a {
  text-decoration: none;
}
.active {
  border-bottom: 3px solid #550000;
}

.collapse {
  background-color: #8a6522;
}

/* Styles for Book Now button */

.btn {
  font-size: 25px;
  background: antiquewhite;
  color: black;
}

/* Welcome Paragraph Styles in body */
header h1 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 38px;
}

#welcome,
#treatments,
.facilities {
  /* font-family: var(--primary-font); */
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  margin: 40px;
  line-height: 2em;
}

/* Spa facilities page styles */
#spa-facilities {
  margin-top: 100px;
  font-size: 38px;
  text-align: center;
}

.card-imgs {
  height: 100%;
}

.card-center {
  text-align: center;
}

/* form styles for Contact Us and Book Now */
legend {
  text-align: center;
  font-size: 30px;
}

.border-spa,
.border-contact {
  border: 5px solid #e4c241;
  margin: 7vw;
  padding: 2.5em;
}

/* success pages styles the tick styles */

.tick {
  font-size: 150px;
  color: antiquewhite;
}

/* Booking form and contact Us form page styles */
.booking {
  border: 4px solid #8a6522;
  width: 50%;
  background-color: rgb(2, 150, 2);
  font-size: 1.38em;
}
/* footer styles */
footer {
  background: #8a6522;
  font-size: 1.15em;
  width: 100%;
}

footer .join-us {
  color: antiquewhite;
  padding-top: 35px;
}

footer a {
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: 20px;
}

footer .logo-footer {
  height: 75%;
}

footer table {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.contact {
  text-decoration: underline 5px;
  margin-bottom: 0;
  color: antiquewhite;
}
