/* Global Styles */
  root: {
    --primary-font: "Quicksand", sans-serif;
    --secondary-font: "Caveat", sans-serif;

    /*
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.5; */
  }

