/* Global Styles */
:root {
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Caveat", sans-serif;
}

body {
  font-family: var(--secondary-font);
  font-size: 28px;
  font-weight: 600;
  background-color: antiquewhite;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Navbar Styles */
.navbar {
  background: rgb(144, 104, 5);
  height: 100px;
  /* color: #e4c241; */
  color: antiquewhite;
  font-size: 35px;
}

.logo {
  height: 100%;
}

.nav-link {
  color: antiquewhite;
}

.navbar a {
  text-decoration: none;
}
.active {
  border-bottom: 5px solid rgb(102, 68, 18);
}

/* Styles for Book Now button */

.btn {
  font-size: 30px;
  background: antiquewhite;
}

/* Welcome Paragraph Styles in body */
header h1 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 38px;
}
#welcome,
#treatments,
.facilities {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  margin: 40px;
  line-height: 2em;
}

/* Spa facilities page styles */
#spa-facilities {
  margin-top: 100px;
  font-size: 38px;
  text-align: center;
}

.card-imgs {
  height: 100%;
}

.card-center {
  text-align: center;
}

/* form styles for Contact Us and Book Now */

legend {
  text-align: center;
  font-size: 30px;
}

.border-spa,
.border-contact {
  border: 5px solid #e4c241;
  margin: 7vw;
  padding: 2.5em;
}

/* success pages styles */

.tick {
  font-size: 150px;
  margin-left: 150px;
  padding-top: 50px;
  color: #antiquewhite;
}

/* Booking Success page styles */
.booking {
  border: 4px solid rgb(144, 104, 5);
  width: 50%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}
/* footer styles */
footer {
  background: rgb(144, 104, 5);
  font-size: 35px;
  width: 100%;
}

footer .join-us {
  color: antiquewhite;
  padding-top: 35px;
  font-size: 30px;
}

footer a {
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: 20px;
}

footer .logo-footer {
  height: 75%;
}

footer table {
  color: antiquewhite;
  display: flex;
  justify-content: center;
}

.contact {
  text-decoration: underline 10px;
  margin-bottom: 0;
  color: antiquewhite;
}
